{{ with .Site.Data.home.services }}
{{ if .enable }}

{{ "<!-- Section Services -->" | safeHTML }}
<section class="section-services" id="services">

  <div class="row">

    <div class="col-md-6 left-box" style="background-image: url({{ .image | absURL }});">

      <div class="title-section wow fadeUp" data-wow-delay=".3s">
        <i class="fas fa-cogs"></i>
        <h2>{{ .title | safeHTML }}</h2>
        {{ .text | safeHTML }}
      </div>

    </div>

    
    <div class="col-md-6 right-box">

      <div class="row">

        {{ range .items }}
        <div class="col-md-6">
          <div class="services-box wow fadeUp" data-wow-delay=".3s">
            <div class="icon">
              <i aria-hidden="true" class="{{ .icon }}"></i>
            </div>
            <div class="info-box">
              <h2>{{ .title }}</h2>
              <p>{{ .text | safeHTML }}</p>
            </div>
          </div>
        </div>
        {{ end }}

      </div>

    </div>

</div>

</section>

{{ end }}
{{ end }}
